<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{{url_for('home.home')}}" method="post">formulaire</a>
    <h1>Bienvenue sur notre page d'acceuil </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab exercitationem iure, quasi perferendis, eligendi, suscipit tempore soluta laborum minima quam quibusdam impedit iste ratione quae tempora odit illum molestiae? Magni?</p>
</body>
</html>