{% extends "base.html" %}

{% block content %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notre site web</title>
        <link rel="stylesheet" href="{{ url_for('static', filename=
            'css/style.css') }}">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"
            />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
        <!--     <style>

        .button {
        border: 2em;
        color: #0c0c0c;
        padding: 15px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
        border: solid black 2px;
        }
        .button1 {background-color: #babeba;}
        body {
            background-color:rgb(137, 182, 230);
        }

        body > legend {
            color: rgb(33, 4, 4);
        }
        fieldset {
            background-color: bisque;
        }
        footer > fieldset {
            background-color: beige;
        }
        </style> -->
    </head>
    <body>

        <form action="{{url_for('main.formulaire')}}" method="post">
            <fieldset>
                <legend><h2><strong>Etude de Population</strong></h2></legend>
                <h1>Choix de la population à étudier</h1>
                <label for="choix_famille">choix-famille :</label>
                <select type="select" name="choix_famille" id="choix-famille">
                    <option value="">choix-famille</option>
                    {% for famille in familles %}
                    <option>{{famille}}</option>
                    {% endfor %}
                </select>
                <select name="mois" id="mois">
                    <option value="">choix-mois</option>
                    {% for mois in mois %}
                    <option value = "{{mois}}">{{mois}}</option>
                    {% endfor %}
                </select>
                <select name="annee" id="annee">
                    <option value="">choix-annee</option>
                    {% for annee in annees %}
                    <option value = "{{annee}}">{{annee}}</option>
                    {% endfor %}
                </select><br>

         
                <h1 style="color:rgb(6, 3, 12)">Choix du graphique à montrer</h1>
            
                <!--TEST -->
                <h3>
                
                <label for="graph_type">Graphes:<br></label>
                <select name="graph_type" id="graph_type">
                    {% for graph in graphes %}
                    <option value="{{ graph }}">{{ graph }}</option>
                    {% endfor %}
                </select>
                <br/>
                <label for="pourcentage">Choix du pourcentage:<br></label>
                <input type="text" id="pourcentage" name="pourcentage">
                    {% if pas_float %}
                    <h5 style="color:red"><i>* Veuillez introduire un pourcentage! *</i></h5>
                    {% endif %}
               
                
                
<!--                 <label for="date_debut"> start:</label>
                <input type="date" name="debut" id="date-debut" value="1990-10-03" min="1990-10-03" max="2020-12-19">
                <label for="date_end"> à :</label>
                <input type="date"  name="end" id="date-fin" value="1990-10-03" min="1990-10-03" max="2020-12-19"> -->

            
                <!-- <h3>Choix du graphique à montrer</h3> -->
                <!--<select name="choix_graphique">
                <option>A</option>
                <option>B</option>
            </select>-->
                <div>
                    <button class="button button1" type="submit">Button</button>
                    <button class="button button1" type="reset" value="Effacer">Effacer</button>
                </div>
            </fieldset>
        </form>
        
    <!-- <script>var liste= document.getElementsByName("choix_année")
alert(liste)
</script> -->
    <!-- <script>
    var button= document.getElementsByTagName("button button1")
</script> -->
        
    <footer>
        <fieldset>
            <p><strong>Auteur : </strong> <p>
                    <p>Arthur Soleil</p>
                    <p>Thomas Blaimont</p>
                    <p>Julien</p>
                    <p>Simon</p>
                </fieldset>
            </footer>
        </body>
    </html>
    {% endblock %}