.body {
    background-color: indianred;
}
.button {
    border: 2em;
    color: #0c0c0c;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}
